In [1]:
from main import *

<h2> Estudo de Caso 1 </h2>

<h3> grafo_W_1.txt </h3>

In [2]:
graph_1 = open_graph_txt("inputs/grafo_W_1.txt", representation="matrix")

In [3]:
dijkstra_1 = Dijkstra(graph_1, 1)

In [4]:
dijkstra_df_output(dijkstra_1, save=False).loc[[1, 10, 20, 30, 40, 50]]

    node  distance  parent
1      1      0.00      -1
10    10      0.97     911
20    20      1.24     168
30    30      0.69     279
40    40      1.06     333
50    50      1.31     198

In [5]:
for i in [10, 20, 30, 40, 50]:
    print(f"Caminho Mínimo do {i}:", dijkstra_1.minpath(i))

Caminho Mínimo do 10: [1, 120, 131, 911, 10]
Caminho Mínimo do 20: [1, 762, 811, 318, 515, 146, 66, 856, 168, 20]
Caminho Mínimo do 30: [1, 762, 811, 489, 83, 279, 30]
Caminho Mínimo do 40: [1, 120, 761, 333, 40]
Caminho Mínimo do 50: [1, 762, 631, 452, 424, 577, 376, 303, 198, 50]

In [6]:
del graph_1
del dijkstra_1

<h3> grafo_W_2.txt </h3>

In [7]:
graph_2 = open_graph_txt("inputs/grafo_W_2.txt", representation="matrix")

In [8]:
dijkstra_2 = Dijkstra(graph_2, 1)

In [9]:
dijkstra_df_output(dijkstra_2, save=False).loc[[1, 10, 20, 30, 40, 50]]

    node  distance  parent
1      1      0.00      -1
10    10      1.70    9801
20    20      1.68    9865
30    30      2.39    8235
40    40      1.86    7287
50    50      2.29     185

In [10]:
for i in [10, 20, 30, 40, 50]:
    print(f"Caminho Mínimo do {i}:", dijkstra_2.minpath(i))

Caminho Mínimo do 10: [1, 7166, 984, 4657, 3085, 5480, 8045, 9479, 9801, 10]
Caminho Mínimo do 20: [1, 4132, 4338, 876, 2795, 7344, 1116, 4832, 3497, 9865, 20]
Caminho Mínimo do 30: [1, 7166, 391, 6800, 3281, 1386, 2640, 1696, 8235, 30]
Caminho Mínimo do 40: [1, 7448, 4538, 8895, 7287, 40]
Caminho Mínimo do 50: [1, 7166, 5918, 3131, 5128, 6147, 5216, 2219, 5429, 6780, 6551, 185, 50]

In [11]:
del graph_2
del dijkstra_2

<h3> grafo_W_3.txt </h3>

In [12]:
graph_3 = open_graph_txt("inputs/grafo_W_3.txt", representation="matrix")

Cannot create matrix >> Unable to allocate 74.5 GiB for an array with shape (100000, 100000) and data type float64

In [13]:
dijkstra_3 = Dijkstra(graph_3, 1)

In [14]:
dijkstra_df_output(dijkstra_3, save=False).loc[[1, 10, 20, 30, 40, 50]]

    node  distance  parent
1      1      0.00      -1
10    10      1.91   59986
20    20      1.97   74389
30    30      2.78   29572
40    40      2.41   87469
50    50      2.07   66179

In [15]:
for i in [10, 20, 30, 40, 50]:
    print(f"Caminho Mínimo do {i}:", dijkstra_3.minpath(i))

Caminho Mínimo do 10: [1, 99607, 80021, 11430, 38686, 26231, 80243, 84478, 10667, 64731, 66341, 9539, 29013, 55482, 59986, 10]
Caminho Mínimo do 20: [1, 99607, 97652, 28571, 20585, 17920, 43924, 33456, 74389, 20]
Caminho Mínimo do 30: [1, 33682, 36275, 69461, 29537, 64817, 67739, 12806, 27005, 92563, 2800, 3810, 90384, 65063, 29572, 30]
Caminho Mínimo do 40: [1, 33682, 24570, 50483, 10697, 44141, 76658, 87469, 40]
Caminho Mínimo do 50: [1, 99607, 80021, 11430, 38686, 26231, 79471, 59996, 50833, 98176, 66179, 50]

In [16]:
del graph_3
del dijkstra_3

<h3> grafo_W_4.txt </h3>

In [17]:
graph_4 = open_graph_txt("inputs/grafo_W_4.txt", representation="lists")

In [18]:
dijkstra_4 = Dijkstra(graph_4, 1)

In [19]:
dijkstra_df_output(dijkstra_4, save=False).loc[[1, 10, 20, 30, 40, 50]]

    node  distance  parent
1      1      0.00      -1
10    10      2.57  969732
20    20      2.58   83549
30    30      2.60  352891
40    40      2.58  640258
50    50      2.20  707676

In [20]:
for i in [10, 20, 30, 40, 50]:
    print(f"Caminho Mínimo do {i}:", dijkstra_4.minpath(i))

Caminho Mínimo do 10: [1, 720665, 966087, 647029, 522903, 638396, 278575, 969459, 792685, 68803, 429712, 969732, 10]
Caminho Mínimo do 20: [1, 826870, 816027, 296139, 162957, 661278, 721824, 44240, 165062, 4007, 105663, 802040, 99482, 524288, 259076, 83549, 20]
Caminho Mínimo do 30: [1, 826870, 600106, 425523, 161822, 139391, 1418, 155219, 352891, 30]
Caminho Mínimo do 40: [1, 720665, 966087, 889431, 942731, 166954, 131855, 819302, 640258, 40]
Caminho Mínimo do 50: [1, 826870, 816027, 96898, 375457, 675857, 107698, 120786, 386496, 536700, 370802, 190374, 547291, 707676, 50]

In [21]:
del graph_4
del dijkstra_4

<h3> grafo_W_5.txt </h3>

In [ ]:
graph_5 = open_graph_txt("inputs/grafo_W_5.txt", representation="lists")

In [ ]:
dijkstra_5 = Dijkstra(graph_5, 1)

In [ ]:
dijkstra_df_output(dijkstra_5, save=False).loc[[1, 10, 20, 30, 40, 50]]

In [ ]:
for i in [10, 20, 30, 40, 50]:
    print(f"Caminho Mínimo do {i}:", dijkstra_5.minpath(i))

In [ ]:
del graph_5
del dijkstra_5